bokeh==2.3.0
boto3==1.17.7
descartes==1.1.0
fastai==1.0.61
gensim==3.8.3
lxml==4.9.1
matplotlib==3.3.4
nbformat==5.1.2
numpy==1.19.5
numpydoc==1.1.0
opencv-python-headless==4.5.4.58
pandas==1.3.4
pandas-datareader==0.10.0
plotly==5.3.1
pymysql==1.0.2
pyspark==3.2.0
scikit-image==0.18.3
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
sqlalchemy==1.4.26
statsmodels==0.13.0
sympy==1.9
tensorflow==2.6.1
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.1+cu111
torchvision==0.10.1+cu111
transformers==4.11.3
xgboost==1.5.0
xlrd==2.0.1
pip==21.3.1
psycopg2-binary==2.9.1
ipykernel==5.5.3
jupyter_client==6.1.12
ipython_genutils==0.2.0
ipywidgets==7.6.3
jedi==0.17.2
kotlin-jupyter-kernel==0.10.3.20
requests==2.26.0
lets-plot==2.3.0
fiona==1.8.18
geopandas==0.9.0
pyproj==3.2.1